<div class="paddingAll">
  
  <div class="pb">
    <h1 class="pb">Obtener todos los registros de peliculas</h1>
    <button mat-raised-button (click)="getAllMovies()"> Obtener Peliculas </button>
  </div>
  <div class="pb">
    <h1>Obtener la pelicula por ID</h1>
    <div>
      ID de la pelicula
      <input type="text" id="movieId" name="movieId"
        [(ngModel)]="movieId">
    </div>
    <button mat-raised-button (click)="getSpecificMovie()"> Obtener pelicula </button>
  </div>
  <div class="pb">
    <h1>Guardar una pelicula</h1>
    <div>
      Titulo de la pelicula
      <input type="text" id="movieTitle" name="movieTitle"
        [(ngModel)]="movieTitle">
    </div>
    <br>
    <div>
      Año de publicación
      <input type="text" id="year" name="year"
        [(ngModel)]="year">
    </div>
    <br>
    <div class="pb">
      Duración:
      <input type="text" id="duration" name="duration"
        [(ngModel)]="duration">
    </div>
    <button mat-raised-button (click)="createMovie()"> Guardar Pelicula </button>
  </div>
  <div class="pb">
    <h1>Editar una pelicula</h1>
    <div class="pb">
      ID Pelicula
      <input type="text" id="movieId" name="movieId"
        [(ngModel)]="movieId">
    </div>
    <div>
      Nombre Pelicula
      <input type="text" id="movieTitle" name="movieTitle"
        [(ngModel)]="movieTitle">
    </div>
    <br>
    <div>
      Año de publicación
      <input type="text" id="year" name="year"
        [(ngModel)]="year">
    </div>
    <br>
    <div>
      Duración:
      <input type="text" id="duration" name="duration"
        [(ngModel)]="duration">
    </div>
    <button mat-raised-button (click)="updateMovie()"> Actualizar Pelicula </button>
  </div>
  <div class="pb">
    <h1>Eliminar una pelicula</h1>
    <div>
      ID de la pelicula
      <input type="text" id="movieIdToDelete" name="movieIdToDelete"
        [(ngModel)]="movieIdToDelete">
    </div>
    <button mat-raised-button (click)="deleteMovie()"> Eliminar pelicula </button>
  </div>
    
</div>

<style>
  .paddingAll {
    padding: 5% 5% 5% 5%;
  }

  .pb {
    padding-bottom: 3%;
  }
</style>
